
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

body{
    background-image: url(../fotos/background\ test.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 100%;
    height: 90px;
    display: block;
    background-color: #e6f3ff;
} 

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_box{
    height: 100%;
    display: table;
    float: left;
}

.logo_box img{
    padding-top: 5px;
    color: white;
    height: 90%;
    display: table-cell;
    vertical-align: middle;
}

.nav{
    float: right;
    height: 100%;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}


.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;

}

.about{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 100px;
    width: 1000px;
    margin: auto;
    font-size: 120%;
}

.projects{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 300px;
    width: 1000px;
    margin: auto;
    font-size: 150%;
}
.allintrests{
align-items: center;
max-width: 50%;
margin: auto;
}


.intrests{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 200%;
}

span{
    font-style: italic;
    font-weight: 300;
}

.intrest1{
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
    text-align: left;
    font-size: 120%;
}

.intrest2{
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
    text-align: right;
    font-size: 120%;
}

.intrest3{
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
    text-align: center;
    font-size: 120%;
}
